# Numeric Results Summary
The purpose of this file is to summarize and print all the numeric and statistical results announced in Mahdavi & Seigel (2021) Indoor Air (PSD Phase only).

In [35]:
import pandas as pd
from scipy.stats import spearmanr, ranksums

df = pd.read_excel(r'natl_d_master.xlsx')
d_1649_sum = df[(df['Sample Name'].str[9:10] == 'D') & (df['stat'] == 'median')]['Dx (50)'].describe()

df_hud = pd.read_excel(r'hud_d_master.xlsx')
d_hud_sum = df_hud[(df_hud['Sample Name'].str[9:10] == 'D') & (df_hud['stat'] == 'median')]['Dx (50)'].describe()

df_pk = pd.read_excel(r'peak_locator.xlsx')
df_pk_sum = df_pk[df_pk['Fr'] == 'D']['Peak Size'].describe()

df_pk_no = pd.read_excel(r'no_peak_v2.xlsx')

df_d = pd.read_excel(r'natl_d_summary.xlsx')

##### Table S2 creation
df_d2 = df_d.groupby(['round', 'ft'])['SN'].count().unstack('ft')
df_d2['No. filters'] = df_d2.sum(axis = 1)
no_site = df_d.groupby(['round'])['site'].nunique()

df_d2 = pd.merge(df_d2, no_site, on = 'round', how = 'outer')

df_d2 = df_d2[['No. filters', 'site', 1, 2, 3, 4]]
df_d2.rename({'site': 'No. site'}, inplace = True)

       No. filters  site  1  2  3  4
round
1               21    19  8  4  5  4
2               20    19  4  5  6  5
3               21    20  7  4  4  6
4               22    21  3  8  6  5

In [39]:
### Descriptive Statistics and other numerical results (all that are mentioned in the paper for PSD calculations)

print('Descriptive Statistics & Numeric Results:\n')

print('The volume median diameter (VMD) of RP-1649 samples ranged from {} to {} μm  with a median of {} μm.'.format(round(d_1649_sum[3],1),
                                                                                                                       round(d_1649_sum[7],1),
                                                                                                                       round(d_1649_sum[5],1)))

print('The volume median diameter (VMD) HUD: TXHHU0023-13 samples ranged from {} to {} μm  with a median of {} μm.'.format(round(d_hud_sum[3],1),
                                                                                                                       round(d_hud_sum[7],1),
                                                                                                                       round(d_hud_sum[5],1)))

print('The peak sizes in RP-1649 ranged from {} to {} μm  with a median of {} μm.'.format(round(df_pk_sum[3],1),
                                                                                          round(df_pk_sum[7],1),
                                                                                          round(df_pk_sum[5],1)))

print('Summary of Table S2 data:\n{}'.format(df_d2))


print('Summary of Table S3 data:\n')
df_d.groupby('ft')[['Dx (0)', 'Dx (10)', 'Dx (25)', 'Dx (50)', 'Dx (75)', 'Dx (90)', 'Dx (100)']].agg(['min', 'median', 'max'])

Descriptive Statistics & Numeric Results:

The volume median diameter (VMD) of RP-1649 samples ranged from 23.4 to 75.1 μm  with a median of 31.9 μm.
The volume median diameter (VMD) HUD: TXHHU0023-13 samples ranged from 28.6 to 43.7 μm  with a median of 37.4 μm.
The peak sizes in RP-1649 ranged from 25.1 to 63.1 μm  with a median of 31.6 μm.
Summary of Table S2 data:
       No. filters  site  1  2  3  4
round
1               21    19  8  4  5  4
2               20    19  4  5  6  5
3               21    20  7  4  4  6
4               22    21  3  8  6  5
Summary of Table S3 data:

   Dx (0)              Dx (10)               Dx (25)              Dx (50)  \
      min median   max     min  median   max     min median   max     min
ft
1   0.877  1.130  1.66    7.38  10.850  22.2    14.5  19.90  39.1    25.6
2   0.681  0.998  1.47    6.80   9.115  17.6    14.1  17.60  30.5    24.2
3   0.773  1.130  1.46    7.63  10.100  15.0    15.1  18.60  26.0    24.6
4   0.877  1.130  1.46    6.78   9.535  16.7    13.5  17.95  30.5    23.4

    ...       Dx (75)               Dx (90)                Dx (100)         \
    ...   max     min median    max     min  median    max      min median
ft  ...
1   ...  68.5    43.3  66.60  118.0    73.7  130.50  285.0    144.0  855.5
2   ...  68.9    39.0  52.20  185.0    62.1   96.00  468.0    235.0  750.0
3   ...  53.5    37.7  56.60  118.0    56.2   89.40  298.0    239.0  664.5
4   ...  75.1    34.8  55.05  209.0    49.2   98.15  525.0    126.0  662.0


       max
ft
1   1250.0
2   1110.0
3   1110.0
4   1430.0

[4 rows x 21 columns]